.warper {
  width: 1203px;
  padding: 20px;
  box-shadow: 0 0 5px #555;
  background: #F1F1F1;
  margin: 100px auto;
  overflow: hidden;

  .header {
    text-align: center;

    .btn {
      width: 100px;
      height: 40px;
      line-height: 40px;
      color: #ffffff;
      background: #009999;
      border: none;
      outline: none;
    }
  }

  .main {
    margin-top: 15px;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
    }

    .list {
      width: 1203px;


      .item {
        float: left;
        width: 280px;
        height: 240px;
        padding: 10px;
        border-right: 1px solid #ccc;
        background: #ffffff;

        &:nth-child(4n) {
          border-right: none;
        }

        img {
          width: 100%;
          height: 200px;
          vertical-align: bottom;
        }

        span {
          display: block;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-weight: normal;
          color: #0066A4;
          background: #F1F1F1;
        }
      }
    }
  }
}